<div class="list-group-item">
    <div class="row">
        <div class="col-3 col-sm-3 col-md-3">
            <img class="img-fluid" src="{{product.image}}" alt="product" />
        </div>
        <div class="col-9 col-sm-9 col-md-9">
            <h5>{{product.name}}</h5>
            <h6>&#8377;{{product.price}}</h6>
            <button class="btn btn-primary btn-sm">buy</button>
            <hr/>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a {{action 'changeTab' 1}} class="nav-link {{if (eq currentTab 1) 'active' ''}}" href="#">Description</a>
                </li>
                <li class="nav-item">
                    <a {{action 'changeTab' 2}} class="nav-link {{if (eq currentTab 2) 'active' ''}}" href="#">Sepcification</a>
                </li>
                <li class="nav-item">
                    <a {{action 'changeTab' 3}} class="nav-link {{if (eq currentTab 3) 'active' ''}}" href="#">Reviews</a>
                </li>
            </ul>
            {{#if (eq currentTab 1)}}
            <div>{{product.description}}</div>
            {{/if}} {{#if (eq currentTab 2)}}
            <div>Not Yet</div>
            {{/if}} {{#if (eq currentTab 3)}}
            <div>Reviews</div>
            {{/if}}
        </div>
    </div>
</div>